body {
    height: 100%;
    background-image: url('../images/IMG_1464.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-color: black; */
    margin: auto;
}

/* NAVIGATION BAR */

nav {
    display: inline-block;
    position: fixed;
    vertical-align: top;
    background-color: black;
    /* background-color: transparent; */
    /*background-image: linear-gradient(to right, navy, rgb(231, 115, 246));*/
    margin-bottom: 20px;
}

/* Logo - Catherine Gillis */

.navbar-brand {
    font-size: 1.9rem;
    /* margin-left: 4.25em; */
    font-family: 'Monoton', cursive;
    font-weight: 500;
}

.navbar-brand:hover {
    /* text-shadow: -1px 0 rgb(115, 73, 231), 0 1px rgb(115, 73, 231), 1px 0 rgb(115, 73, 231), 0 -1px rgb(115, 73, 231); */
    text-decoration: underline rgb(115, 73, 231) solid;
}

/* Tab - LinkedIn */

.fa-linkedin {
    /* margin-top: 1rem; */
    color: #0077B5;
    margin-left:1rem;
    opacity: 0.9;
}

.fa-linkedin:hover {
    opacity: 1;
}

/* Tabs - Portfolio & Contact */

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    text-shadow: -1px 0 rgb(115, 73, 231), 0 1px rgb(115, 73, 231), 1px 0 rgb(115, 73, 231), 0 -1px rgb(115, 73, 231);
}

.nav-item {
    text-align: right;
}

/* MAIN CONTENT STYLING */

div.MainContent {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    border-radius: 8px;
    margin: 4em 15em 4em 15em;
    overflow: auto;
    padding: 5em;
    clear: both;
    text-align: left;
    opacity: 0.95;
}

h1, h2 {
    font-family: 'Monoton', sans-serif;
    color: rgb(115, 73, 231);
    font-weight: 500;
    /* margin-left: 18px; */
}

#about-me {
    margin-top: 130px;
}

#mainpic {
    border-radius: 150px;
    align-content: center;
    /* float: right; */
}

b {
    font-weight: 400;
    color: rgb(115, 73, 231);
    font-size: 2em;
    font-family: 'Monoton', sans-serif;
}

b#toronto {
    color: black;
    font-size: 2em;
}

b#toronto-sm {
    color: black;
    font-size: 1.5em;
}

h1#portfolio, h1#contact {
    margin-left: 18px;
}

/* PORTFOLIO */

div.content {
    text-align: center;
    margin: 1em 1em 0 1em;
    padding: 1em;

}

div.content:hover {
    background-color: lightsteelblue;
    border-radius: 8px;
}

h4 {
    margin-top: 1.5em;
}

a:hover {
    color: rgb(115, 73, 231);
}

h6 {
    color: grey;
    text-align: center;
 }
 
 h6:hover {
     color: rgb(115, 73, 231);
 }

/* CONTACT */

/* div#contact-form {
    max-width: 800px;
    margin-left: 18px;
    margin-right: 18px;
} */

.form-control,
.btn {
    border-radius: 6px;
}

.btn:hover {
    background-color: rgb(115, 73, 231);
}

#linked-in-header,
#github-header {
    display: inline-block;
    padding-top: 1.3rem;
    margin-right: 1rem;
}

/* FOOTER */

footer {
    opacity: 0.9;
}

.footer-copyright {
    color: rgb(115, 73, 231);
    margin-bottom: 0;
}

/* MEDIA QUERIES */

/* Large Screens */

@media only screen and (min-width: 1900px) {
    .footer-copyright {
        padding-right: 23em;
    }
}

/* Medium Screens */

@media only screen and (max-width: 1200px) {
    div.MainContent {
        margin: 3em 5em 3em 5em;
    }
}

@media only screen and (min-width: 1200px) {
    div.MainContent {
        max-width: 1200px;
    }
}

/* Small Screens */

@media only screen and (max-width: 722px) {
    div.MainContent {
        /* margin: 1em 0.5em 1em 0.5em;   */
        margin: 1em;
        padding:3em 2em 3em 2em; 
    }
}

/* Extra-Small Screens */

@media only screen and (max-width: 340px) {
    div.MainContent {
        /* margin: 1em 0.5em 1em 0.5em;   */
        margin: 1em;
        padding:2em 1em 2em 1em; 
    }
}

/* Extra Extra Small Screens */
@media only screen and (max-width: 300px) {
    div.MainContent {
        /* margin: 1em 0.5em 1em 0.5em;   */
        margin: 1em;
        padding:2em 1em 2em 1em; 
    }
}
/* Margin-Top of About Me Section */

@media only screen and (max-width: 446px) {
    div#about-me {
        margin-top: 11em;
    }
}

/* Navbar Name Font Sizing */

/* Small Screens */
@media only screen and (max-width: 359px) {
    a#catherine-gillis {
        font-size: 1.8em;
    }
}

/* Larger Screens */

@media only screen and (min-width: 360px) {
    a#catherine-gillis {
        font-size: 1.9rem;
    }
}

/* Font Sizing */

    /* Big Screen */
    @media (min-width: 551px) {
        #big-screen {
        display:block;
        }
        #small-screen {
        display:none;
        }
    }

    /* Small Screen */
    @media (max-width: 550px) {
        #big-screen {
        display:none;
        }
        #small-screen {
        display:block;
        }
    }
    /* Big Screen */
    @media (min-width: 840px) {
        b#toronto {
            display:inline-block;
        }
        b#toronto-sm {
            display:none;
        }
    }

    /* Small Screen */
    @media (max-width: 839px) {
        b#toronto {
            display:none;
        }
        b#toronto-sm {
            display: inline-block;
        }
    }

  