body {
    height: 100%;
    background-image: url('../images/IMG_1464.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    margin: auto;
}

/* NAVIGATION BAR */

nav {
    display: inline-block;
    position: fixed;
    vertical-align: top;
    background-image: linear-gradient(to right, navy, rgb(231, 115, 246));
    margin-bottom: 10px;
}

.navbar-brand {
    font-size: 1.9rem;
    /* margin-left: 4.25em; */
    font-family: 'Monoton', cursive;
}

#about-me {
    margin-top: 140px;
}

#mainpic {
    border-radius: 150px;
    /* float: right; */
}

/* MAIN CONTENT STYLING */

div.MainContent {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    border-radius: 8px;
    margin: 4em 15em 4em 15em;
    overflow: auto;
    padding: 5em;
    clear: both;
    text-align: center;
    opacity: 0.95;
}


h2 {
    font-family: 'Syncopate', sans-serif;
    color: rgb(115, 73, 231);
    font-weight: 1000;
}

b {
    font-weight: 1000;
    color: rgb(115, 73, 231);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
    div.MainContent {
        margin: 2em 4em 2em 4em;
    }
}

@media only screen and (min-width: 1200px) {
    div.MainContent {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 1900px) {
    .footer-copyright {
        padding-right: 23em;
    }
}

@media only screen and (max-width: 600px) {
    div.MainContent {
        margin: 1em 0 1em 0;
    }
}

/* PORTFOLIO */

div.content {
    text-align: center;
    margin: 1em;
    padding: 1em;

}

div.content:hover {
    background-color: lightsteelblue;
    border-radius: 8px;
}

h4 {
    margin-top: 1.5em;
}

a:hover {
    color: rgb(115, 73, 231);
}

/* CONTACT */

div.container {
    max-width: 800px;
}

.form-control,
.btn {
    border-radius: 6px;
}

.btn:hover {
    background-color: rgb(115, 73, 231);
}

/* LinkedIn */
/* #linked-in {
    float: right;
    text-align: right;
} */

#linked-in-header,
#github-header {
    display: inline-block;
    padding-top: 1.3rem;
    margin-right: 1rem;
}

.fa-linkedin {
    /* margin-top: 1rem; */
    color: #0077B5;
    margin-left:1rem;
    opacity: 0.5;
}

.fa-linkedin:hover {
    
    opacity: 1;
}

/* FOOTER */

.footer-copyright {
    color: rgb(115, 73, 231);
    margin-bottom: 0;
}